{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1>Log in to <span class="black">$</span><span style="color:green">tock </span><span>$</span><span style="color:green">top</span></h1><br>

    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit" style="background-color:green">Log In</button>
    </form>
{% endblock %}
