{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}


{% block main %}
    <h2 style="color:green">Get a Quote</h1><br>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit" style="background-color:green">Quote</button>
    </form>

    <div>
        <br>
        <br>
        <h2>A share of {{ book["name"] }} {{ book["symbol"] }} costs ${{ book["price"] }}.</h2>
    </div>
{% endblock %}
